<nav>
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
      <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
      <li class="pure-menu-item"><a href="https://github.com/matiasbeckerle" class="pure-menu-link" target="_blank">GitHub</a></li>
      <li class="pure-menu-item"><a href="https://ar.linkedin.com/in/matiasbeckerle" class="pure-menu-link" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
</nav>
