body {
  color: #777777;
  font-size: 1.5em;
  line-height: 1.5em;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: Georgia, serif;
}

header {
  margin: 0;
  padding: 2em 0;
  text-align: center;
  color: #1C0113;
  border-bottom: 1px solid #eeeeee;
}
header h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 300;
}
header h2 {
  margin-bottom: 0;
  padding: 0;
  font-weight: 300;
  color: #cccccc;
}

nav {
  padding: 1em 0;
  text-align: center;
  border-bottom: 1px solid #eeeeee;
}

footer {
  padding: 2em 0;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #1C0113;
  line-height: 1.6em;
}

h2 {
  font-size: 2em;
}

a {
  color: #1C0113;
}
a:hover {
  color: #561643;
}

blockquote {
  font-style: italic;
}

img {
  width: 100%;
}

.content {
  margin: 0 auto;
  padding: 1em;
  max-width: 800px;
}

.post {
  padding-bottom: 1em;
}

.post-date {
  font-style: italic;
}

.pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
  background-color: #1C0113;
  color: #777777;
}
