html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: Georgia, serif;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  color: #333333;
}

header {
  margin: 0;
  padding: 2em 0;
  text-align: center;
  border-bottom: 1px solid #EEEEEE;
}
header h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 300;
}
header h2 {
  margin-bottom: 0;
  padding: 0;
  font-weight: 300;
}

nav {
  padding: 1em 0;
  text-align: center;
  border-bottom: 1px solid #EEEEEE;
}

footer {
  padding: 2em 0;
  text-align: center;
  border-top: 1px solid #EEEEEE;
}

header, h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

h2 {
  font-size: 2em;
}

a {
  color: #FF5722;
}
a:hover {
  color: #333333;
}

blockquote {
  font-style: italic;
}

img {
  width: 100%;
}

.content {
  margin: 0 auto;
  padding: 1em;
  max-width: 800px;
}

.post {
  padding-bottom: 1em;
}

.post-content, ul li, ol li {
  line-height: 1.4em;
  margin: 1em 0;
}

.post-date {
  font-style: italic;
}

.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
  color: #333333;
}
.pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
  background-color: #FF5722;
  color: #EEEEEE;
}

.pagination {
  padding: 2em 0;
}
