<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Matias Beckerle">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>
    {% if page.title %}
      {{ page.title }} &middot; {{ site.title }} 
    {% else %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% endif %}
  </title>
</head>
<body>
  {{ content }}
  {% include analytics.html %}
</body>
</html>
